version: '3'

services:
  ###> doctrine/doctrine-bundle ###
  database:
    ports:
      - "3306:3306"
  ###< doctrine/doctrine-bundle ###

  ###> symfony/mailer ###
  mailer:
    image: sj26/mailcatcher
    ports: ["1025", "1080"]
  ###< symfony/mailer ###
  
  web:
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/app
      - ./docker/vhost.conf:/etc/apache2/sites-enabled/000-default.conf
      - ./docker/ssl:/etc/ssl/vulnblog
    depends_on:
      - database
      - mailer
